{:kotoba.app/id "cloud.itonami.isic-4290", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihqteggdtkxey64qea5xh3tm7hcz5qjxuf6aaddamkxhluiann37y", :kotoba.app/embed-url "ipfs://bafkreihqteggdtkxey64qea5xh3tm7hcz5qjxuf6aaddamkxhluiann37y", :published {:archive "https://kotobase.net/ipfs/bafkreihqteggdtkxey64qea5xh3tm7hcz5qjxuf6aaddamkxhluiann37y", :size 73106, :put-status 201, :get-status 200, :at "2026-08-15T13:51:31.191Z"}}
